<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('/bs/css/bootstrap.min.css') }}">

        <style>
            .buttonSettings {
                display: flex;
                flex-direction: row;
            }
            .btn-primary {
                margin-right: 20px;
            }
        </style>

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ path('app_index') }}" class="nav-link px-2 text-white">Главная</a></li>
                    <li><a href="{{ path('post_index') }}" class="nav-link px-2 text-white">Посты</a></li>
                    <li><a href="{{ path('user_index') }}" class="nav-link px-2 text-white">Пользователи</a></li>
                    <li><a href="{{ path('app_reg') }}" class="nav-link px-2 text-white">Регистрация</a></li>
                </ul>


            </div>
        </div>
    </header>

    <div class="container mt-4">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
