{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1 class="fw-light">{{ post.title }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <th>Body</th>
            <td>{{ post.body }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>DeletedAt</th>
            <td>{{ post.deletedAt ? post.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Индекс уникальности</th>
            <td>{{ post.uniqueIndex }}</td>
        </tr>
        </tbody>
    </table>

    <div class='buttonSettings'>
        <a class="btn btn-primary" href="{{ path('post_edit', {'id': post.id}) }}">Редактировать</a>

        {{ include('post/_delete_form.html.twig') }}
    </div>

    <h2 class="fw-light mt-4">Добавить комментарий</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-primary" type="submit">{{ button_label|default('Сохранить') }}</button>
    {{ form_end(form) }}

    <h2 class="fw-light mt-4">Комментарии</h2>
    <div>
        {% for comment in comments %}
            <div class="mb-3">
                <div class="text-muted small">{{ comment.owner }}</div>
                <div>{{ comment.body }}</div>
                <a href="{{ path('comment_edit', {'id': comment.id}) }}">Редактировать</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
